.about-us-hero {
  background-image: url("https://res.cloudinary.com/simtengu/image/upload/v1664827578/pxbus1_qob7bq.jpg");
  background-position: center;
  background-size: cover;
}

.out-timetable {
  background-image: url("https://res.cloudinary.com/simtengu/image/upload/v1664827660/pxbus2_krlzhj.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


