body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.logo {
  text-decoration: none;
}

.topbar_link_container .topbar_link {
  text-decoration: none;
}

.topbar_link_container {
  min-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topbar_link_container .topbar_link_underline {
  width: 0%;
  min-height: 4px;
  background-color: #29979f;
  position: relative;
  bottom: 3px;
  -webkit-transition: width 400ms ease;
  transition: width 400ms ease;
}

.topbar_link_container:hover .topbar_link_underline {
  width: 80%;
}

.footer {
  background-color: #0c4a50;
  padding: 30px 10px;
  color: rgba(245, 245, 245, 0.671);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer #body1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}

.footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .links h5 {
  font-weight: bolder;
  margin-bottom: 11px;
}

.footer .links ul {
  list-style: none;
  text-transform: capitalize;
  margin: 0px;
  padding: 0px;
}

.footer .links ul li {
  margin-top: 10px;
}

.journey-details-div table,
.journey-details-div th,
.journey-details-div td {
  border: 1px solid #4cadb5;
  border-collapse: collapse;
}

.journey-details-div th,
.journey-details-div td {
  padding: 8px;
}

.bus {
  padding: 6px;
  border-radius: 6px;
}

.bus-row .available-seat {
  min-width: 47%;
  margin-bottom: 2px;
  background-color: #b9e8ec;
  border: none;
  border-radius: 4px;
}

.bus-row .taken-seat {
  min-width: 47%;
  margin-bottom: 2px;
  background-color: #f0db4e;
  border: none;
  border-radius: 4px;
  color: red;
}

.bus-row .selected-seat {
  min-width: 47%;
  margin-bottom: 2px;
  background-color: #48abb2;
  border: none;
  border-radius: 4px;
  color: blueviolet;
}

.admin-link {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.admin-link:hover {
  color: #68d7df;
}

.admin-leftbar ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.admin-link:hover {
  background-color: #29b7c2;
}

.admin-link:focus {
  background-color: #29b7c2;
}

.dashboardItem {
  background-color: #fff !important;
}

.dashboardItem:hover {
  background-color: #29b7c2 !important;
  cursor: pointer;
}

.dashboardItem:hover .prg {
  color: #fff;
  cursor: pointer;
}

.font-bold {
  font-weight: bold;
}

.signupText {
  background: -webkit-gradient(linear, left top, left bottom, from(#1a8e96), to(#84dae1));
  background: linear-gradient(#1a8e96, #84dae1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-us-hero {
  background-image: url("https://res.cloudinary.com/simtengu/image/upload/v1664827578/pxbus1_qob7bq.jpg");
  background-position: center;
  background-size: cover;
}

.out-timetable {
  background-image: url("https://res.cloudinary.com/simtengu/image/upload/v1664827660/pxbus2_krlzhj.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.text-primary {
  color: #158a93;
}

.text-light-primary {
  color: #29b7c2;
}

.text-secondary {
  color: #ffde07;
}

.text-dark {
  color: #1e1e1e;
}

.text-danger {
  color: #d20015;
}

.text-light {
  color: white;
}

.bg-primary {
  background-color: #158a93 !important;
}

.bg-secondary {
  background-color: #f0db4e !important;
}

.bg-secondary-trsp {
  background-color: rgba(240, 219, 78, 0.9) !important;
}

.text-dark-secondary {
  color: #ecd21c !important;
}

.bg-light-cyan {
  background-color: #f0f0f4 !important;
}

.bg-light {
  background-color: white;
}

.bg-dark-primary {
  background-color: #10666d !important;
}

.bg-light-primary {
  background-color: #caeaec !important;
}

.grd-primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#158a93), to(#75c8ce));
  background: linear-gradient(to bottom, #158a93, #75c8ce);
}

.grd-to-right {
  background: -webkit-gradient(linear, left top, right top, from(#158a93), to(#75c8ce));
  background: linear-gradient(to right, #158a93, #75c8ce);
}

.grd-to-bottom {
  background: -webkit-gradient(linear, left top, left bottom, from(#158a93), to(#75c8ce));
  background: linear-gradient(to bottom, #158a93, #75c8ce);
}

.grd-to-bottom-right {
  background: -webkit-gradient(linear, left top, right bottom, from(#158a93), to(#75c8ce));
  background: linear-gradient(to bottom right, #158a93, #75c8ce);
}

.loadingSpinner,
.modalContainer {
  background-color: rgba(141, 206, 211, 0.3);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 110;
}

#regions_list ul li h6 {
  font-size: 18px;
}
/*# sourceMappingURL=index.css.map */